/*
Colors:
light green: #7ed56f
medium greenL:#55c57a
Dark green: #28b485
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Lato','Arial',sans-serif;
  font-weight: 400;
  padding: 35px;
}

.header{
  background-image:linear-gradient(
          to right bottom,
          rgba(62, 240, 30, 0.8),
          rgba(17, 97, 69, 0.8)
  ),
  url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  height: 95vh;
  position: relative;
  clip-path: polygon(0 0 ,100% 0,100% 75vh,0 100%);
}

.logo-box{
  position: absolute;
  top:40px;
  left: 40px;
}
.logo{
  height: 35px;
}

.text-box{
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.text-box span{
  display: block;
}
.primary-heading-main{
  font-size: 150%;
  letter-spacing: 35px;
  font-weight: 400;
  animation: moveInLeft 2s ease-out;
}
.primary-heading-sub{
  font-size: 90%;
  letter-spacing: 6px;
  font-weight: 300;
  animation: moveInRight 2s ease-out;
  margin-bottom: 35px;


}
.btn:link,
.btn:visited{
  text-decoration: none;
  transition: all .5s;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.btn-white:link,
.btn-white:visited{
  color: #777;
  background: #fff;
  padding: 20px 30px;
  border-radius: 75px;
  animation: moveInBottomTop .5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn-white:hover{
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}
.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width:100%;
  border-radius: 100px;
  position: absolute;
  top:0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;

}
.btn-white::after{
  background-color: #fff;
}
.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

nav{
  float: right;
  position: absolute;
  top:40px;
  right:30px;
}
.navigation-icon {
  background-color: #fff;
  border-radius: 50%;
  text-decoration: none;
  color: #777;
  padding: 10px;
  display: inline-block;
  font-size: 180%;
  text-align: center;

}
/*Animation*/
@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottomTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}