
// homepage ---------------------------------------------
.carousel-caption{
  width: 50%;
  bottom: auto;
  top: 110px;
  .sec-title {
    color : #333;
    font-size: 2vw;
  }
  p {
    color: #333;
  }
}

.blog{
  background-color: #e3ede7;
  @extend %colored-sec;
  .item-img{
    margin-bottom: 0;
  }
  .item-info{
    background-color: #fff;
    padding: 25px 20px;
  }
  .min-price{
    margin-bottom: 15px;
  }
  a {
    text-transform: uppercase;
    color: $green;
    font-weight: bold;
  }
}

.offers{
  padding: 60px 0;
}

.deals{
  background-color: #e6f0fc;
  @extend %colored-sec;
  .item{
    display: flex;
  }
  .item-img{
    width: calc(50% - 30px);
    margin: 0 15px;
  }
  .info{
    width: calc(50% - 30px);
    margin: 0 15px;
    padding: 40px 30px;
    background-color: #fff;
    h5{
      text-transform: capitalize;
    }
    small{
      display: block;
      margin-bottom: 25px;
      color:$lightTextColor;
      text-transform: capitalize;
    }
    p{
      margin-bottom: 30px;
      line-height: 30px;
    }
    .today{
      color: #5f768d;
    }
  }
}

.who-sec {
  .btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.map{
  .container{
    position: relative;
  }
  .map-frame {
    -webkit-mask-image: url("../images/map-mask.svg");
    mask-image: url("../images/map-mask.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    + img {
      position: absolute;
      top:0;
      left:0;
      visibility: hidden;
    }
  }
}

.testimonials{
  .pic{
    width: 75px;
    height: 75px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    @include border-radius(50%);
  }
}
//***********************************************************

.registeration{
  height: 100%;
  padding: 30px 0;
  .logo {
    margin-bottom: 30px;
    display: inline-block;
    position: relative;
    @extend %h_center;
  }
  .content{
    background-image: url("../images/bg-2.gif");
    background-size: 100% 100%;
    padding: 180px 150px;
    position: relative;
    > img {
      width: 40%;
      position: absolute;
      #{$right}:0;
      bottom: 0;
    }
  }
  .sec-title{
    font-size: 2vw;
    text-align: $left;
  }
  form{
    padding-bottom: 40px;
  }
  .social-login {
    a {
      display: block;
      height: 46px;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      &.facebook{
        background-color: #29487d;
      }
      &.google{
        background-color: #d93025;
      }
      i{
        margin: 0 10px;
      }
    }
  }
  .login-options{
    display: flex;
    justify-content: space-between;
  }
}