/*----------------------------------------------------------------------*/
@media only screen and (min-width: 1600px) {
/*--------------------------------------------------------------------*/
    .container {
        max-width: 1400px;
    }
}

/*----------------------------------------------------------------------*/
@media only screen and (min-width: 1900px) {
/*--------------------------------------------------------------------*/
    .container {
        max-width: 1600px;
    }
}








/* Large Devices, Wide Screens
----------------------------------------------------------------------*/
@media only screen and (max-width: 1199px) {
/*--------------------------------------------------------------------*/	
}




/* Medium Devices, Desktops 
----------------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
/*--------------------------------------------------------------------*/
    h1, .h1 {
        font-size: 30px;  
    }
    h2, .h2 {
        font-size: 24px;  
    }
    h3, .h3 {
        font-size: 22px;  
    }
}

/*Small Devices, Tablets
----------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
/*--------------------------------------------------------------------*/	
    h1, .h1 {
        font-size: 24px;  
    }
    h2, .h2 {
        font-size: 22px;  
    }
    h3, .h3 {
        font-size: 20px;  
    }
}






/*  Extra Small Devices, Phones
----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
/*--------------------------------------------------------------------*/	

    
}





/*  Extra Small Devices, Phones
----------------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
/*--------------------------------------------------------------------*/
}



